@import "~bootstrap/dist/css/bootstrap.css";

.pull-right {
    float: right;
}

.text-center {
    display:table;
    margin:0 auto;
}

body {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    width: 100vw;
}
